*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background-color 0.3s, brightness 0.3s, color 0.3s, opacity 0.3s,
    scale 0.3s, transform 0.3s;
}

:root {
  --title-size: 2rem;
  --title-leading: 120%;
  --title-weight: 500;

  --text-size: 1.2rem;
  --text-leading: 140%;
  --text-weight: 300;

  --button-size: 1.6rem;
  --button-leading: 140%;
  --button-weight: normal;

  --rating-size: 1.6rem;
  --rating-leading: 140%;
  --rating-weight: 600;

  --purple: #8323ff;
  --light-purple: #c497ff;
  --pink: #ff2daf;
  --light-pink: #ed55ca;
  --yellow: #feea35;

  --gray-100: #8b8d9b;
  --gray-200: #373745;
  --gray-300: #2b2b37;
  --gray-400: #1e1f28;
  --white: #ffffff;

  font-size: clamp(0.5rem, 1vw, 0.625rem);
}

html {
  hanging-punctuation: first last;
  color-scheme: dark light;
}

a,
button {
  all: unset;
  appearance: none;

  font-size: var(--button-size);
  font-weight: var(--button-weight);
  line-height: var(--button-leading);

  &:hover {
    transform: translateY(-0.4rem);
    scale: 1.1;
  }
}

body,
button {
  font-family: 'Roboto', system-ui, sans-serif;
}

body {
  min-height: 100svh;
  display: grid;
  place-items: center;

  background: linear-gradient(to right, var(--purple), var(--pink));
}

#app {
  max-width: 100rem;
  padding: 6.4rem 9.6rem;
  gap: 3.6rem;
  display: grid;

  border: 0.8rem solid;
  border-image: linear-gradient(to right, var(--light-purple), var(--purple)) 1
    round;
  background-color: var(--gray-400);
  box-shadow: 0px -3px 22px 0px rgba(0, 0, 0, 0.35);
}

header {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 0.8rem 1.6rem;
  gap: 0.8rem;
  display: flex;
  align-items: center;

  cursor: pointer;
  border-radius: 0.4rem;

  color: var(--white);
  background: linear-gradient(to right, var(--purple), var(--pink));

  i {
    display: inline-block;
    padding: 0.6rem;
    border-radius: 50%;
    font-size: 1.8rem;
    background-color: var(--light-pink);
  }
}

button:hover {
  filter: brightness(120%);
}

.movies {
  gap: 3.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19.4rem, 1fr));
  place-items: center;
}

.movie {
  gap: 0.8rem;
  display: grid;
}

.movie-header {
  display: flex;
  justify-content: space-between;
}

h2 {
  max-width: 18rem;

  text-wrap: balance;
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  line-height: var(--title-leading);
  color: var(--white);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.movie-rating {
  gap: 0.4rem;
  display: flex;
  align-items: center;
  font-size: var(--rating-size);
  font-weight: var(--rating-weight);
  line-height: var(--rating-leading);
  color: var(--yellow);
}

.movie-banner {
  margin-top: 0.4rem;

  border-radius: 0.8rem;
}

img,
svg {
  max-width: 100%;
  display: block;
}

.movie-info {
  display: flex;
  justify-content: space-between;

  font-size: var(--text-size);
  font-weight: var(--text-weight);
  line-height: var(--text-leading);
  color: var(--gray-100);

  span {
    gap: 0.4rem;
    display: flex;
    align-items: center;

    i {
      font-size: 2rem;
    }
  }
}

.movie-trailer {
  padding: 0.8rem 1.6rem;
  gap: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border-radius: 0.4rem;

  color: var(--white);
  background-color: var(--gray-300);

  &:hover {
    background-color: var(--gray-200);
  }

  i {
    padding: 0.8rem;

    border-radius: 50%;
    font-size: 0.8rem;
    color: var(--purple);
    background-color: var(--gray-400);
  }
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
  }
}
