:root {
  --main-color: #271A45;
  --secondary-color: #D9CDF7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--secondary-color);
  font-family: 'Lato', sans-serif;
}

body, button {
  color: var(--main-color);
}

main {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-preview {
  position: relative
}

#product-preview-gif {
  width: 28rem;
  height: 16rem;
}

.product-preview button {
  top: 0;
  right: 60px;
  
  border: 0;
  
  position: absolute;
}

p {
  font-size: .625rem;
  font-weight: 300;
}

h1 {
  margin-top: .75rem;
  
  font-family: 'Crimson Pro', serif;
}

h2 {
  margin-top: .75rem;
  
  font-size: 1rem;
  font-weight: normal;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button:focus {
  outline: 2px solid var(--main-color);
  outline-offset: 1px;
}

.add-button {
  margin-top: 1.25rem;
  padding: .5rem;
  
  border: 1px solid var(--main-color);
  border-radius: 30px;
  
  font-size: .75rem;
}
